body{
	margin: 0px;
	background-image: url(images/1.jpg);
}

#logo{
	margin: 5px;
	position: absolute;
	color: #fff;
    
}

#Header{
	width: 100%; 
	height: 70px; 
	background-color: #222; 
	top: 0; 
	position: fixed;
	z-index: 10;
}

#head{
	text-align: center;
}

#headerinfo{
	list-style-type: none; 
	display: inline-block;
	margin-left: 0px;
    font-size:28px;
    padding-right:100px;
    padding-left:100px;
    
    
}

a{
	text-decoration: none; 
	padding: 40px; 
	font-family: sans-serif;
	color: #ed1c24;
}



#title{
	margin: 0px; 
	padding: 0px; 
	position: absolute; 
	left: 50%; 
	top: 50%;
	transform: translateX(-50%) translateY(-50%); 
	text-align: center; 
	color: #fff;
	font-size: 50px; 
	font-family: cursive;
}

p{
	margin-left: 30px;

}

li{
	margin-left: 0px;
	font-family: optima;
    text-align:left;
    
}

#H1color{
	color: #fff;
	background-color: #222;
	padding: 10px;
 	margin: 0px
}

#BG{
	width: 93%; 
	height: 1080px;
	background-color: black;
	display: block; 
	margin: 1px auto;
}


#Footer{
	width: 2700px; 
	height: 200px; 
	background-color: #222; 
	bottom:0;
	margin: -90px;
    margin-top:20px;
	text-align: center;
}

h2{
	margin: 5px
}
.item{
    margin: 40px;
    
}

.pic{
    margin: 15px;
    width: 350px;
    height: 350px;
	padding-top:50px;
}

li{
    color: white;
	padding-right: 180px;
    text-align: left;
    border-radius: 80px;
    border-width:80px;
    width:180px;
}
progress{
    color: red;
    display: block; 
	margin: 1px auto;
    width: 750px;
    height: 25px;
}
ol{
    display: inline;
    color: white;
	padding-right: 180px;
}










